@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Serif:wght@500&family=Yellowtail&display=swap');

.header__products{
   text-align: center;
      max-width: 1280px;
      margin: 0 auto;
   }
    h1{
      animation-duration: 6s;
      animation-name: slidein;
      font-size: 45px;
      color: darkcyan;
      text-shadow: 1px 1px 2px pink;
      
   }
   
   .header__products p{
      animation-duration: 3s;
      animation-name: slidein;
      font-weight: 500;
      font-size: 28px;
      font-family: 'Libre Baskerville', serif;
   }
   
   
   
    
    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    
      75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
      }
    }
   
.products__cart{
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;
   padding: 25px;
   grid-template-columns: repeat(4, minmax(0, 1fr));
   gap: 40px;
   display: grid;
}


@media(max-width:1024px){
  .products__cart {
     
      padding: 20px;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 30px;

  }
}
@media(max-width:768px){
  .products__cart {
     
      padding: 15px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 20px;
 
  }
}
@media(max-width:375px){
  .product__wrapper {
    padding: 3px;
    flex-direction: column;
}
}