.product__block{
    
    width: 100%;
    height: 385px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.product__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.product__image:hover{
  transform: scale(1.1);
    
    transition-duration: 500ms;
}
.product__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid darkcyan;
}
.product__info__price{
    display: flex;
    gap: 10px;
    position: relative;
 
    
}
.product__info__price__old{
    text-decoration: line-through;
    color: gray;
}
.product__info__price__set{
    font-weight: 700;
}
.product__info__price_wrapper{


   
    display: flex;
  gap: 10px;
  
 
    
}

.product__info__btn{
    
    margin-bottom: 8px;
}

@media(max-width:425px){
    .products__cart__flex {
        display: flex;
    flex-direction: column;
    align-items: center;
    } 

    .product__block {
        width: 50%;
        height: 50%;
    }
    h2{
        font-size: 20px;
    }
}