.product__wrapper{
    display: flex;
    max-width: 1280px;
   margin: auto;
   padding: 15px;
  
}
.product__images{
    width: 100%;
    height: 400px;
}
.product__details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
}
.quantity__block{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
}
.Qant__btns{
    display: flex;
    gap: 10px;
}
.Qant__btn{
    height: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 12px;
   border: 2px solid gray;
   border-radius: 4px;
}
.Qant__btn span{
    display: flex;
}
.Qant__btn:hover{
  color: #fff;
cursor: pointer;
transition-duration: 400ms;
background-color: rgb(199, 192, 192);
opacity: 0.8;

}
.Qant__btn:active{
background-color: blanchedalmond;
}
@media(max-width:768){
    .products__cart {
       
        padding: 20px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 30px;
   
    }
}