/* Поля ввода полной ширины */
.input[type=text], .input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  .input[type=text]:focus, .input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Установите стиль для всех кнопок */

  

  /* Дополнительные стили для кнопки Отмена */

  
  /* Поплавок отмена и кнопки регистрации и добавить равную ширину */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Добавление отступов к элементам контейнера */
  .container {
    padding: 16px;
  }
  
  /* Снимите поплавки */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Измените стили для кнопки отмены и кнопки регистрации на дополнительных маленьких экранах */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }