.reviews__avatar{
    border-radius: 50px;
}
.reviews__left{
    float: right;
}
.reviews__wraper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid gray;
}