.comment__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
.comment__block__info{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
}
.comment__block__item{
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 30px;
}
.hr{
    border: 1px solid gray;
}