
*{
    margin: 0;
    padding: 0;
}
.wrapper__header{
    width: 100%;
   
    height:  80px ;
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-bottom-color: rgb(209 213 219 / var(--tw-border-opacity));
    position: sticky;
    top: 0;
    z-index: 50;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.head__logo{
    width: 112px;
}
.nav,.nav__items,.nav__items__basket {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    
   
}
.nav li{
    padding: 5px;
    display: block;
    border: 1px solid transparent;
}
.nav li:hover{
border-bottom: 1px solid darkcyan;

   transition: 300ms;
   cursor: pointer;
   color: darkcyan;
  
  
  
}
.nav a{
    text-decoration: none;
    color: black;
    
  
    
}
.nav__items__basket{
    position: relative;
}
.nav__items__basket__image{
    width: 32px;
}
.nav__items__basket__count{
    position: absolute;
    top: 12px;
    left: 12px;
    font-size:  14px ;
    line-height: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.nav__items__basket__acount {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
}
.userout{
    font-size: 25px;
}


.userout:hover{
    transform: scale(1.2);
    transition-duration: 300ms;
}
/* *********************** */
/* Гамбургер иконка */
.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню, которое будет появляться */
.ReactModal__Content, .ReactModal__Content--after-open{
    position: absolute;
    /* inset: 40px; */
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}
.formInput{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 135px;
    border: 1px solid gray;
    padding: 29px;
}
.Btn__submit{
    margin: 18px;
}
@media (max-width: 1024px) {
    .header__top {
        min-width: 309px;
        justify-content: space-evenly;
         
    }
}
@media(max-width:320px){
    .header__top {
        min-width: 237px;
        padding: 0px;
        flex-direction: column;
    }
    .nav{
        width: 100%;
        justify-content: space-evenly;
    }
    h2{
        font-size: 14px;
    }
}

