.cart__item{
    width: 66.66%;
    padding-right: 40px;
}
.cart__item__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin-top: 25px;
}
.cart__item__block__info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart__item__close__btn {
    font-size: 24px;
    line-height: 32px;
    color: gray;
    background-color: #ffff;
    border: none;
}
.cart__item__close__btn:hover{
    color: red;
    cursor: pointer;
    transition-duration: 300ms;
}
.cart__item__img{
    width: 128px;
    height: 128px;
    object-fit: cover;
}
.cart__item__block__btn{
    border-color: transparent;
   border: none;
    
}
.cart__item__block__btn:hover{
    border-color: transparent;
}

 .basket__btn {
    margin-top: 32px;
    margin-left: 28px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: 10px;
}
.basket__btn:hover{
transform: rotate(-4deg);
border: 1px solid darkcyan;
cursor: pointer;
animation-duration: 5s;
}
.reset__btn{
    margin-top: 20px;
    margin-left: 30px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid darkcyan;
}

.reset__btn:active{
    background-color: rgb(240, 106, 106);
 }

 .qaunts__block{
    display: flex;
    gap: 17px;
    align-items: center;
}
 
 .qaunts{
    font-size: 20px;
 }
 .qaunts:hover{
   
    cursor: pointer;
   
 }
 .qaunts:active{
    transform: scale(1.2);
    
    transition-duration: 300ms;
 }
 @media(max-width:375px){
    .cart__item {
        width: 0%;
         padding-right: 10px;
 }
}