
h2{
    font-weight: 800;
}

.footer{
    background-color: black;
    color: #949494;
    padding: 20px 0; 
   
  
}
.footer__wrapper {
    max-width: 1280px; 
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.logo{
width: 112px;

}
.footer__icons{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.icons__items:hover{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
   transition-duration: 1s;
   cursor: pointer;
   transform: scale(1.2);
}
.footer__contact,.footer__profile{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.footer__contact a{
   text-decoration: none;
    
}
.footer__contact__item{
    display: flex ;
    align-items: center;
    gap: 10px;
    
}
.footer__contact__item a{
    color: rgb(134, 133, 133) ;
}
.footer__contact__item span{
    display: flex;
}
.footer__contact__item:hover,.footer__contact__item a:hover{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
   transition-duration: 1s;
   cursor: pointer;
   
}
.footer__profile{
    margin-left: 35px;
}
.footer__subscride{
    display: flex;
    flex-direction: column;

}
.footer__subscride input,.footer__subscride button{
    background-color: transparent;
    padding: 8px 16px 8px 16px;
    border:1px solid white ;
    padding-left:16px;
    padding-right: 16px;
    color: white ;
}
.footer__subscride button:hover{
    background-color: wheat;
    color: black;
    cursor: pointer;
    transition-duration: 500ms;
}
.footer__subscride button:active{
    background-color: whitesmoke;
}

@media(max-width:515px){
    .footer__wrapper{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
    font-size: 10px;
}
    } 