
*{
    margin: 0;
    padding: 0;
    
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
html,body,.App{
    height: 100%;   
}
#root{
    height: 100%;
}
.wrapper{

    min-height: 100%; 
    justify-content: space-between;
   
    display: flex;
    flex-direction: column;
   
}


/* *{
    border: 1px solid red;
    
} */


